div.a1 {
    height: 30px;
    display: table-cell;
    vertical-align: middle;
}
div.a2 {
    float: left;
    display: inline-block;
    min-width: 167px;
    width: 16%;
    height: 42px;
    color: #222;
    font-size: 13px;
    line-height: 16px;
    vertical-align: middle;
}
div.a3 {
    clear: both;
}
}
div.a4 {
    width: 100%;
    clear: both;
}

div.a4a {
    width: 100%;
    clear: both;
}