.center {
    text-align: center;
}
.topright {
    text-align: right;    
}
h4 {
    color: #d93025;
}
.left {
    margin-left: 50px;
    text-align: left;
}
.right {
    text-align: right;
}
.fill {
    text-align: justify;
}
.filler {
    flex-grow: 1;
}
.google1 {
    float: left;
    display: inline-block;
    min-width: 167px;
    width: 16%;
    height: 42px;
    color: #222;
    font-size: 13px;
    line-height: 16px;
    vertical-align: middle;
}
.jfk-textinput {
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
    border: 1px solid #d9d9d9;
    border-top: 1px solid #c0c0c0;
    font-size: 13px;
    height: 25px;
    padding: 1px 8px;
}
.scss {
    display: inline-block;
}
.whooops {
    display: flex;
    align-items: center;
    margin-top: 10px;
    padding: 10px 0;
  }